.jobs-main-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  min-height: 100vh;
}

.job-sub-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.job-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-container {
  display: flex;
  align-items: center;
}

/* #search-container-sm {
  display: inline-flex;
}

#search-container-lg {
  display: none;
} */

.search-jobs {
  background-color: transparent;
  width: 80%;
  padding: 12px;
  border: 2px solid #2c364c;
  border-right: none;
  font-family: 'Roboto';
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
  outline: none;
  color: #ffffff;
}

.search-icon {
  color: #fff;
  font-size: 28px;
  background-color: #272727;
  border: 2px solid #2c364c;
  padding: 10px;
  height: 44px;
  width: 60px;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.line {
  border: 1px solid #475569;
  margin-top: 20px;
  width: 90%;
  margin-right: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .search-jobs {
    width: 40%;
  }

  .job-sub-container {
    display: flex;
    margin-top: 40px;
    width: 100%;
  }

  /* #search-container-lg {
  display: inline-flex;
}

#search-container-sm {
  display: none;
} */

  .slider-bar-container {
    width: 20%;
    margin-left: 40px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
}
