.filter-heading {
  font-family: 'Roboto';
  color: #fff;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
}

.filtered-group-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.filtered-group-items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-element-checkbox {
  width: 12px;
  height: 12px;
}

.label-description {
  font-family: 'Roboto';
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  font-size: 14px;
  /* padding-bottom: 14px; */
}

@media screen and (min-width: 768px) {
  .filter-heading {
    font-size: 18px;
  }

  .input-element-checkbox {
    width: 14px;
    width: 14px;
  }

  .label-description {
    font-size: 16px;
  }
}
